.container {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: flex-start;
}

body {
	background: white;
}


.slider-container {
	width: 80%;
	text-align: center;
}

.slider {
	margin-top: 20px;
	-webkit-appearance: none;
	width: 60%;
	height: 1%;
	background: #ddd;
	outline: none;
}

label{
	font-size: 130%;
	margin-right: 10px;
}

/* Chrome */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 3%;
	height: 20px;
	background: #4CAF50;
	cursor: pointer;
	border-radius: 50%;
}

/* Firefox */
.slider::-moz-range-thumb {
	width: 3%;
	height: 20px;
	background: #4CAF50;
	cursor: pointer;
	border-radius: 50%;
}

.slider-value {
	display: block;
	font-size: 2vw;
	font-weight: bold;
	margin-left: 20%;
}

.radio-container {
	width: 80%;
	align-items: center;
	margin-top: 10px;
}

input[type=radio]{
	margin-right: 3vw;
	transform: scale(1.5);
}


.wrapper{
	margin-top: 3%;
	position: relative;
	width: 35vw;
	height: 35vw;
}

#big-circle{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 0.5vw solid black;
	background-color: transparent;
}

#stick{
	position: absolute;
	top: -4%;
	left: 50%;
	width: 1vw;
	height: 10%;
	background-color: lime;
	transform: translateX(-50%); /* центрирование палочки */
	z-index: 1;
}


#small-circle{
	position: absolute;
	top: 0.25vw;
	left: 50%;
	width: 2vw;
	height: 2vw;
	border-radius: 50%;
	background-color: red;
	transform: translateX(-50%) translateY(-50%);
	z-index: 1;
}


progress{
	height: 20px;
	width: 60%;
	margin-top: 20px;
	background: inherit;
}


/* Firefox */
progress::-moz-progress-bar {
	background-color: #4CAF50;

}
/* Chrome */
progress::-webkit-progress-value {
	background-color: #4CAF50;

}

.button{
	margin-top: 2vw;
	font-size: 3vw;
	width: 10vw;
	height: 5vw;
}

#start-btn{
	background: aquamarine;
}
#trigger-btn{
	background: palevioletred;
	margin-left: 3vw;
}

#result{
	margin-top: 20px;
	font-size: 3vw;
	width: 85%;
}