
.idea/
lab1/.idea/
lab1/node_modules/

lab3/src/main/resources/META-INF/persistence.xml
lab3/src/main/resources/META-INF/persistence.xml
lab3/src/main/resources/META-INF/persistence.xml
lab3/src/main/resources/META-INF/persistence.xml
