.column-name{
    font-size: 20px;
    font-style: italic;
    text-align: center;
}


.input-label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.bottom-button{
    margin: 10px auto;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


#button-container {
    display: flex;
    justify-content: space-between;
}

#send-button{
    background-color: green;
}

#clean-button{
    background-color: brown;
}

#send-button:hover {
    background-color: darkgreen;
}

#clean-button:hover {
    background-color: #821d1d;
}


.parameter-name{
    font-size: 25px;
    font-weight: 400;
}

.green-text{
    color: green;
}

.red-text{
    color: red;
}


header{
    text-align: center;
    font-family: sans-serif;
    color: black;
    font-size: 20px;
}

.error{
    margin-top: 10px;
    font-size: 15px;
    color: red;
}

#server-error{
    text-align: center;
    width: 100%;
}

#counter-container{
    margin-top: 10px;
}

.page-count {

    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
}

#pagination {
    margin-top: 5px;
}

#pagination button{
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#prev-button::before {
    content: "\2190"; /* Символ стрелочки влево */
    margin-right: 5px;
}

#next-button::after {
    content: "\2192"; /* Символ стрелочки вправо */
    margin-left: 5px;
}

#pagination button:hover {
    background-color: #0056b3;
}

#graphic {
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 1; /* Установка z-index для <img>, чтобы она оставалась над SVG-слой */
}

#overlay-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2; /* Установка z-index для контейнера, чтобы он находился над <img> */
}


#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}


#info-box {
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid #000;
    padding: 5px;
    z-index: 100;
}