body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

form {
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.parameter-name{
    font-size: 25px;
    font-weight: 400;
}






#graphic-table {
    width: 80%;
    height: auto;
    margin:  0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#graphic-overlay-column{
    width: 70%;
}

#overlay-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 2;
}


#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
}

#graphic {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
}

#info-box {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}



#r-graphic-column{
    width: 30%;
    text-align: center;
    position: relative;
}
label[for="r-graphic"] {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}
#r-graphic {
     width: 100px;
     padding: 5px;
     border: 1px solid #ccc;
     border-radius: 3px;
 }




circle{
    z-index: 4;
    pointer-events: visible
}


circle:hover {
    cursor: pointer;
    fill: lawngreen;
}






.error{
    margin-top: 5px;
    font-size: 15px;
    color: red;
}


#server-error{
    text-align: center;
    width: 100%;
}





.column-name{
    font-size: 20px;
    font-style: italic;
    text-align: center;
}






#counter-container{
    margin-top: 10px;
}

.page-count {
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
}







.green-text{
    color: green;
}

.red-text{
    color: red;
}