.column-name{
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.container{
    text-align: center;
}


.input-label {
    margin-left: 20%;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

#send-button{
    width: 40%; /* Set the width of the button */
    height: 10%; /* Set the height of the button */
    background-color: green; /* Set the background color to green */
    color: white; /* Set the text color to white */
    font-size: 20px; /* Set the font size */
    border: none; /* Remove the border */
    cursor: pointer; /* Add a pointer cursor on hover */
    margin: 10px auto; /* Center the button horizontally */
    display: block; /* Make it a block element for centering */
}

#y-value{
    width: 80%;
}

#clock{
    font-size: 3vw;
}