body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#input-container .container{
    flex: 1;
    font-size: 20px;
    font-weight: 400;
}

label{
    margin-right: 10px;
}
#input-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для полей ввода x и y */
#x-container, #y-container {
    flex: 2; /* Занимает две части ширины контейнера */
}

/* Стили для поля ввода r */
#r-container {
    flex: 1; /* Занимает одну часть ширины контейнера */
    clear: left;
}
